{{set . "title" "Archive"}}
{{template "header.html" .}}



	<header class="jumbotron" style="background-color:#42a5f5;">
	  <div class="container">
	    <div class="row">
	    <div class="col-xs-12">

		    <h1 style="color: white">SnifferWhiffer</h1>
			<h2 style="color: white">Ok, we have recorded these messages!</h2>
		    <div>
				<ul class="list-group">
					{{range .foo}}
	  				<li class="list-group-item">{{.Blather}} <span class="badge">{{.Timestamp}}</span></li>
					{{end}}
				</ul>
				<a href="/" class="btn btn-success btn-lg">Back to SnifferWhiffer Home</a>	    	
		    </div>

	    </div>
	  </div>
	  <br/><br/>
	    <div class="row">
	      <div class="col-xs-12">
	        <form action="/App/Prune" method="GET">
	          <div class="form-group">
	            {{with $field := field "myName" .}}
	                <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control input-lg" placeholder="keyword for pruning"/><br/>
	            {{end}}
	          </div>
	          <input type="submit" value="OK Pruning!" class="btn btn-default btn-lg"/>
	        </form>
	      </div>
	    </div>


	</header>

	<div class="container">
	  <div class="row">
	    <div class="span6">
	      {{template "flash.html" .}}
	    </div>
	  </div>



	</div>


{{template "footer.html" .}}