{{set . "title" "Archive"}}
{{template "header.html" .}}



	<header class="jumbotron" style="background-color:#A9F16C">
	  <div class="container">
	    <div class="row">
	      <h1>SnifferWhiffer</h1>

			<h1>Ok, we have recorded these messages!</h1>
			<p class="lead">
			{{.foo}}
			</p>
			<a href="/" class="btn btn-success">Back to SnifferWhiffer Home</a>


	  </div>
	</header>

	<div class="container">
	  <div class="row">
	    <div class="span6">
	      {{template "flash.html" .}}
	    </div>
	  </div>
	</div>


{{template "footer.html" .}}