{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <h1>SnifferWhiffer</h1>
      <p>If you're going to buy a Saas company, doesn't it make sense to have a team of Saas acquihires and acquirers performing due diligence?</p>
      <p>Code review, DevOps review, financials, interviews with key employees, assessments of QA, product development, and engineering culture.</p>
      <p><strong>Multiples should not be something derived from an industry sampler.  Buying a private company should not be reduced to a generic formula.</strong></p>
    </div>
    <div class="row">


      <form action="/App/Hello" method="GET">
          {{with $field := field "myName" .}}
              <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" class="form-control" placeholder="tell us about your interest in our services"/><br/>
          {{end}}
          <input type="submit" value="Send Us Your Message!" class="btn btn-default"/>
      </form>


    </div>

    <div class="row">
      <br/><br/><br/>
    </div>

    <div class="row">
      <div class="jumbotron">
        <a href="App/Archive" class="btn btn-info btn-lg">Find out what people are saying about SnifferWhiffer!</a>      
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
